@font-face {
	font-family: 'TICELarge'; /* Name your font family */
	src: url('../fonts/TICELarge.ttf'); /* Locate the .ttf file within your directory*/
/*  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');*/
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');
}


body {
	margin: 0;
	padding: 0;
	display: flex;
   	background-color: lightgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 100vh;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.calculator {
	display: flex;
	flex-direction: column;
	border: solid black 12px;
	width : 330px;
	height: 500px;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(76, 68, 82, 0.8);
}

#screen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 280px;
	height: 120px;
	border: 10px outset darkgray;
	border-radius: 5px;
	background-color: rgb(255,255,255);
}
p {
	font-family: 'TICELarge', sans-serif;
	/*border: 1px solid red;*/
}
p#upper-screen {
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 30px;
	margin: 0px 5px;
}
p#lower-screen {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 35px;
	font-weight: bold;
	margin: 0px 5px;
	text-align: right;
}
.initial-zero {
    color: grey;
}

#controls {
	font-family: 'Roboto-Regular', sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 300px;
	height: 300px;
}

.button {
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 20px;
	width: 58px;
	height: 58px;
	border: 2px solid darkblue;
	border-radius: 5px;
	box-shadow: 4px 4px 6px;
	flex: none;
	cursor:pointer;
	background-color: lightblue;
}
.button.digit {
	color: white;
	background-color: black;
	border-radius: 20px;
}

#upper-line {
	display: flex;
	flex-direction: row;
	width: 300px;
	height: 60px;
	justify-content: space-around;
	align-content: space-around;
}
#left-block {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	width: 180px;
	height: 240px;
	justify-content: space-around;
	align-content: space-around;
}
#right-block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 120px;
	height: 240px;
	justify-content: space-around;
	align-content: space-around;
}



#btn-point {
	order: -2;
}
#btn-0 {
	order: -3;
}
#btn-clear {
	background-color: rgba(235, 71, 66, 0.6);
	order: -1;
}

#btn-equals {
	background-color: rgb(66, 235, 100);
	height: 116px;
}
#btn-all-clear {
	background-color: rgb(235, 71, 66);
	width: 116px;
}
