@font-face {
  font-family: 'Calculator'; /* Name your font family */
  src: url('../fonts/Calculator.ttf'); /* Locate the .ttf file within your directory*/
  font-family: 'TICELarge'; /* Name your font family */
  src: url('../fonts/TICELarge.ttf'); /* Locate the .ttf file within your directory*/
}

body {
	margin: 0;
	padding: 0;
	display: flex;
   	background-color: lightgray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 100vh;
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.calculator {
	display: flex;
	flex-direction: column;
	border: outset darkgray 12px;
	width : 330px;
	height: 500px;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(255,255,255,0.4);
}

#screen {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 280px;
	height: 120px;
	border: 10px outset darkgray;
	border-radius: 5px;
	background-color: rgba(255,255,255,0.7);
}
p {
	font-family: 'TICELarge', sans-serif;
}
p#upper-screen {
	border: 1px solid red;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 30px; /*original 30 not bold*/
	margin: 0px 5px;
}
p#lower-screen {
	border: 1px solid red;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 35px; /* original 35 bold*/
	font-weight: bold;
	margin: 0px 5px;
	text-align: right;
}
.initial-zero {
    color: grey;
}

#controls {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 300px;
	height: 300px;
}

.button {
	font-size: 20px;
	width: 59px;
	height: 59px;
	border: 2px solid darkblue;
	border-radius: 5px;
	box-shadow: 5px 5px 8px;
	flex: none;
	cursor:pointer;
}
.button.digit {
	border-radius: 20px;
}

#upper-line {
	display: flex;
	flex-direction: row;
	width: 300px;
	height: 60px;
	justify-content: space-around;
	align-content: space-around;
}
#left-block {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	width: 180px;
	height: 240px;
	justify-content: space-around;
	align-content: space-around;
}
#right-block {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 120px;
	height: 240px;
	justify-content: space-around;
	align-content: space-around;
}



#btn-point {
	order: -2;
}
#btn-0 {
	order: -3;
}
#btn-clear {
	order: -1;
}

#btn-equals {
	height: 118px;
}
#btn-all-clear {
	width: 118px;
}
